    <div class="credits text-center">
        <p>
            &copy; 2017 All rights reserved by 
        </p>
        <p>
            <a href="http://geekmindz.com" target="_blank">GeekMindz Solutions LLP</a>
        </p>
    </div>
</body>
</html>